<div class="list-header">
  <div class="list-header-title">Clients list</div>
  <button mat-raised-button (click)="addData()">
    Add client
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{element.sex}}</td>
  </ng-container>

  <ng-container matColumnDef="pin">
    <th mat-header-cell *matHeaderCellDef>Pin</th>
    <td mat-cell *matCellDef="let element">{{element.pin}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDetails(element.id)">
        <img src="assets/icons/eye.png">
      </button>
      <button mat-icon-button (click)="editClient(element.id)">
        <img src="assets/icons/edit.svg">
      </button>
      <button mat-icon-button (click)="deleteClient(element.id)">
        <img src="assets/icons/trash.png">
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>